// ==========================================================================
// Helper Classes
// ==========================================================================

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/***********************************************************
*** Animation
***********************************************************/

// .show {
//  display:block !important;
//  transition: all .6s ease-out !important;
// }

// .hide {
//  display:none !important;
//  transition: all .6s ease-out !important;
// }