/***********************************************************
*** Main
***********************************************************/
main {
  background-color: white;

  .caption {
    padding-left: 1em;
    padding-right: 1em;
  }
}

::cue {
   color:red;
}