/***********************************************************
*** Typography
***********************************************************/
body {
  font-family: 'Lato', sans-serif;
}

p.caption {
  color: $primary-color;
  font-size: 1.2em; 
}