
/*********************************************
***** Desktop
*********************************************/

@media screen and (min-width: #{$screen-small}) {

  .container{
    width: 80%;
    max-width: 1120px;
  }

  /*********************************************
  ***** Section portfolio
  *********************************************/

  .portfolio {
    
    .project {
      width: 33%;
      float: left;
    }
  }
}