/***********************************************************
*** Nav
***********************************************************/

nav {
  ul {
    list-style: none;
  }

  li {
    background-color: $white;
    margin-top: 10px;
  }

  a {
   @extend %primary-nav-link;
 
    &:hover {
      color: $scooter;
    }
  } 
}

.nav-secondary,
.nav-secondary ul,
.nav-secondary li,
.nav-secondary a {
  display: inline-block;
}

.nav-primary {
  margin-bottom: 3em;
  padding-bottom: 2em;
}

.nav-secondary {

  a {
    @extend %secondary-nav-link;
  }
}