/*********************************************
***** General
*********************************************/
* {
  box-sizing: border-box;
}
.border-bottom {
  border-bottom: 1px solid #7f7f7f;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*********************************************
***** Header, Nav
*********************************************/

header {
  text-align: center;
  background-color: #fafafa;
}

header h1 {
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 1em;
  font-size: 3em;
  letter-spacing: -1px;
  font-weight: 700;
}

nav ul {
  list-style: none;
}

nav li {
  background-color: #fff;
  margin-top: 10px;
}

nav a {
 text-decoration: none;
 color: #000;
 font-size: 1.4em;
 font-weight: 900;
 padding: 10px 50px;
 display: inline-block;
 text-transform: uppercase;
}

nav a:hover {
  color: #36acd0;
}


.nav-primary {
  margin-bottom: 3em;
  padding-bottom: 2em;
}

.nav-secondary,
.nav-secondary ul,
.nav-secondary li,
.nav-secondary a {
  display: inline-block;
}

.nav-secondary a {
  font-size: 1em;
  font-weight: 900;
  padding: 0 0 0 30px;
}

/*********************************************
***** Typo
*********************************************/

body {
  font-family: 'Lato', sans-serif;
}

.bold{
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
nav a {
  color: #4a4a4a;
}

.section-heading {
  font-size: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
}

.project-heading {
  font-size: 1.6em;
  font-weight: 700;
}

p {
  color: #4a4a4a;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
}

p.lead {
  color: #7f7f7f;
}

/*********************************************
***** Section about-me
*********************************************/

.about-me {
  background-color: #fafafa;
  text-align: center;
  padding-bottom: 3em;
}

.about-me img {
  border-radius: 5px;
}


/*********************************************
***** Section portfolio
*********************************************/

.portfolio {
  text-align: center;
}

.portfolio .section-heading {
  padding-top: 2em;
  padding-bottom: 2em;
}

.portfolio .project-heading {
  padding-top: 0;
}

.portfolio a{
  display: inline-block;
  text-decoration: none;
  border: 3px solid transparent;
  padding: 10px;
  margin-bottom: 3em;
}


/* hover */

.project.marketing a:hover,
.project.marketing a:focus {
  border-color: #36acd0;
}

.project.calculator a:hover,
.project.calculator a:focus {
  border-color: #626f7e;
}

.project.photo-gallery a:hover,
.project.photo-gallery a:focus {
  border-color: #675a85;
}

.project.favorite-spots a:hover,
.project.favorite-spots a:focus {
  border-color: #52bab4;
}

.project.search a:hover,
.project.search a:focus {
  border-color: #e0ab26;
}

.project.travel-app a:hover,
.project.travel-app a:focus {
  border-color: #2472aa;
}

/*********************************************
***** Section contact
*********************************************/

.contact {
  text-align: center;
  background-color: #fafafa;
  padding-top: 4em;
}

/*********************************************
***** Footer
*********************************************/

footer {
  background-color: #fafafa;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer .nav-secondary {
  display: none;
}

address {
  padding-bottom: 4em;
}

address,
.back-to-top {
  color: #7f7f7f;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4;
  font-style: normal;
}

address span {
  font-weight: 700;
  padding-left: 1em;
}

address span a {
  text-decoration: none;
  color: #7f7f7f;
}

address span a:hover {
  text-decoration: none;
  color: #7f7f7f;
}

footer .section-heading {
  font-size: 1.2em;
  margin: 0;
  display: inline-block;
}

footer .container{
  position: relative;

}

a.back-to-top {
  text-decoration: none;
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: -1px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.6em;
}

.back-to-top:hover{
  text-decoration: none;
}

/*********************************************
***** Project Single Page
*********************************************/

.project-single,
.project-details {
  text-align: center;
}

.project-single .project-heading {
  padding-top: 2em;
}

/*********************************************
***** Tablet
*********************************************/

@media screen and (min-width: 769px) {

  /*********************************************
  ***** Header, Nav
  *********************************************/

  .nav-primary li{
    display: inline-block;
    background-color: #fafafa;
  }

  .nav-primary a {
    padding: 0 30px;
  }

  .nav-primary {
    margin-bottom: 0;
    padding-bottom: 100px;
  }

  /*********************************************
  ***** Section about-me
  *********************************************/

  .about-me p {
    width: 60%;
    float: left;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-me img {
    width: 40%;
    float: right;
  }


  /*********************************************
  ***** Section portfolio
  *********************************************/

  .portfolio .project {
    width: 50%;
    float: left;
  }

  /*********************************************
  ***** Project Single Page
  *********************************************/

  .project-details.primary p,
  .project-details.secondary img {
    float: right;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .project-details.primary img,
  .project-details.secondary p {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  } 

  .project-details.primary {
    padding-top: 4em;
    margin-bottom: 4em;
  }

  .project-details.secondary {
    margin-bottom: 4em;
  }


  /*********************************************
  ***** Footer
  *********************************************/
  
  footer .nav-secondary{
    display: inline-block;
    float: right;
  }

  footer .section-heading {
    vertical-align: bottom;
  }

  footer ul {
    margin: -6px 0 0 0;
  }

  a.back-to-top {
    display: none;
  }

}

/*********************************************
***** Desktop
*********************************************/

@media screen and (min-width: 1025px) {

  .container{
    width: 80%;
    max-width: 1120px;
  }

  /*********************************************
  ***** Section portfolio
  *********************************************/

  .portfolio .project {
    width: 33%;
    float: left;
  }

}