/***********************************************************
*** Mixins
***********************************************************/
/***********************************************************
*** Placeholders
***********************************************************/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/***********************************************************
*** Animation
***********************************************************/
/***********************************************************
*** General
***********************************************************/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-image: url(../img/swirl_pattern.png); }

/***********************************************************
*** Nav
***********************************************************/
/*********************************************
***** Header
*********************************************/
/*********************************************
***** Footer
*********************************************/
/*********************************************
***** Tablet
*********************************************/
/* Media Queries */
@media screen and (max-width: 1024px) {
  figure {
    padding-left: 0;
    padding-right: 0;
    height: auto; }

  .controls {
    /* we want the buttons to be proportionally bigger, so give their parent a set height */
    height: 30px;
    height: 1.876rem; }

  .controls button[data-state="subtitles"] {
    font-size: 0.6875rem; }

  .subtitles-menu {
    right: 0; }

  .subtitles-menu li button {
    font-size: 0.6875rem; } }
@media screen and (max-width: 42.5em) {
  .controls {
    height: auto; }

  .controls > * {
    display: block;
    width: 14.5667%;
    margin-left: 0;
    height: 40px;
    height: 2.5rem;
    margin-top: 2.5rem; }

  .controls .progress {
    position: absolute;
    top: 0;
    width: 100%;
    float: none;
    margin-top: 0; }

  .controls .progress progress {
    width: 98%;
    margin: 0 auto; }

  .controls button {
    background-position: center center; } }
/*********************************************
***** Desktop
*********************************************/
/***********************************************************
*** Typography
***********************************************************/
body {
  font-family: 'Lato', sans-serif; }

.highlight {
  color: #ff9900 !important; }

figcaption {
  color: #777;
  text-align: center;
  font-size: 1.2em;
  background: white;
  padding: 50px;
  line-height: 1.6; }

/***********************************************************
*** General
***********************************************************/
figure {
  position: relative;
  max-width: 1024px;
  max-width: 64rem;
  width: 100%;
  height: 100%;
  max-height: 576px;
  margin: 20px auto;
  margin: 1.25rem auto;
  padding: 20px;
  padding: 1.051%; }

/***********************************************************
*** Main
***********************************************************/
main {
  background-color: white; }

/***********************************************************
*** Player
***********************************************************/
video {
  width: 100%; }

/* controls */
.controls, .controls > * {
  padding: 0;
  margin: 0; }

.controls {
  overflow: hidden;
  background: transparent;
  width: 100%;
  height: 8%;
  /* of figure's height */
  position: relative;
  bottom: 50px; }

.controls[data-state=hidden] {
  display: none; }

.controls[data-state=visible] {
  display: block; }

.controls > * {
  float: left;
  width: 2.30625%;
  margin-left: 10px;
  display: block; }

#mute,
#volinc,
#voldec,
#fs {
  float: right; }

.controls > *:first-child {
  margin-left: 0; }

.controls > #fs {
  margin-right: 10px; }

.controls .progress {
  cursor: pointer;
  width: 100%;
  margin: 0 auto 10px auto; }

.controls button {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  text-indent: -99999px;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat; }

.controls button:hover, .controls button:focus, .subtitles-menu li button:hover, .subtitles-menu li button:focus,
.subtitles-menu li button[data-state="active"] {
  opacity: 0.7; }

.controls button[data-state="play"] {
  background-image: url(../img/icons/play-icon.png); }

.controls button[data-state="pause"] {
  background-image: url(../img/icons/pause-icon.png); }

.controls button[data-state="stop"] {
  background-image: url(../img/icons/restart-icon.png); }

.controls button[data-state="mute"] {
  background-image: url(../img/icons/volume-on-icon.png); }

.controls button[data-state="unmute"] {
  background-image: url(../img/icons/volume-off-icon.png); }

.controls button[data-state="volup"] {
  background-image: url(../img/icons/volume-up-icon.png); }

.controls button[data-state="voldown"] {
  background-image: url(../img/icons/volume-down-icon.png); }

.controls button[data-state="go-fullscreen"] {
  background-image: url(../img/icons/fullscreen-icon.png); }

.controls button[data-state="cancel-fullscreen"] {
  background-image: url(../img/icons/fullscreen-icon.png); }

.controls progress {
  display: block;
  float: none;
  width: 100%;
  height: 2px;
  margin-top: 2px;
  margin-top: 0.125rem;
  border: none;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ff9900;
  /* Internet Explorer uses this value as the progress bar's value colour */ }

.controls progress[data-state="fake"] {
  background: #e6e6e6;
  height: 65%; }

.controls progress span {
  width: 0%;
  height: 100%;
  display: inline-block;
  background-color: #2a84cd; }

.controls progress::-moz-progress-bar {
  background-color: #ff9900; }

/* Chrome requires its own rule for this, otherwise it ignores it */
.controls progress::-webkit-progress-value {
  background-color: #ff9900; }

/* fullscreen */
html:-ms-fullscreen {
  width: 100%; }

:-webkit-full-screen {
  background-color: transparent; }

video:-webkit-full-screen + .controls {
  background: transparent;
  /* required for Chrome which doesn't heed the transparent value set above */ }

video:-webkit-full-screen + .controls progress {
  margin-top: 0.5rem; }

/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
  display: none !important; }

figure[data-fullscreen=true] {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%; }

figure[data-fullscreen=true] video {
  height: auto; }

figure[data-fullscreen=true] figcaption {
  display: none; }

figure[data-fullscreen=true] .controls {
  position: absolute;
  bottom: 0;
  margin-bottom: -50px !important;
  width: 100%;
  z-index: 2147483647; }

figure[data-fullscreen=true] .controls li {
  width: 5%; }

figure[data-fullscreen=true] .controls .progress {
  width: 100%;
  padding-bottom: 10px; }

#current,
#duration {
  display: inline-block;
  color: #fff;
  font-size: small;
  float: left;
  width: 50px; }

#duration {
  margin-left: 0; }

/*# sourceMappingURL=styles.css.map */
